.git
.DS_Store
._*
**/.DS_Store
**/._*

*.pyc
__pycache__/

.env
*.env
docker-compose.override.yml

autobrr/
bazarr/
cleanuparr/
cross-seed/
homepage/*.css
homepage/*.js
homepage/*.yaml
homepage/logs/
jellyfin/
letsencrypt/
pia/
pia-shared/
prowlarr/
qbittorrent/
radarr/
sabnzbd/
seerr/
sonarr/
traefik/certs/
traefik/dynamic/
