⠀⣿⣄⠀⠀⢀⣿⣿⣿⠇⠀⠀⡠⠀⠀⠀⠀⠀⢀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠲⣄⡀⠋⢼⣿⣿⡞⡇⠀⠙⠉⠀⠀⠀⣾⡟⠀⠀⠀⠉⣑⠀⣠⣀⣄⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢷⣆⣿⣿⣿⠀⠀⠀⠀⠀⠀
⣿⣿⣦⠀⠀⠉⠿⡿⠄⠀⠀⢦⣤⠑⢦⣄⠀⣜⠀⠀⠀⢸⠇⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣻⣾⣿⣀⣃⠀⠀⠀⣀⣰⣠⡻⣇⢀⣿⠠⢴⣿⣿⣿⡟⣼⣷⣿⠀⢀⡀⠀⡀⠀⠀⠀⠀⠀⠀⣠⣼⣿⣿⣿⡏⠀⠀⠀⠀⠀⠀
⠻⣿⣿⣷⡀⠀⠀⠀⠀⠀⠈⠀⠆⠀⠈⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣷⣯⠙⣳⣦⡀⠙⢿⣿⣷⡀⣿⣿⡄⣸⣿⣿⡿⢰⣿⣿⣿⢴⢞⣿⣿⡟⢷⣶⣶⣶⣴⣶⡌⢿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀
⠀⠈⠻⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⢠⡿⠛⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⡌⣿⣿⣏⣿⠤⢾⣿⢿⣆⢸⣿⣿⣿⣿⣿⣷⣿⣿⣿⣷⣿⣿⣿⣿⣼⣿⣿⣿⣶⣶⠶⢙⣽⣿⣿⣿⠀⠹⣿⣿⠃⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⠻⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⡇⠘⣿⣿⡾⢿⣿⣿⣿⣾⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⡥⣚⣭⣿⣿⣿⠏⠀⠀⠹⣿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢀⣀⡀⠈⠻⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⣿⠀⠸⣿⣿⣿⣶⣿⣿⣿⣿⣿⣿⣿⡏⠻⣿⠏⡟⢹⢹⡟⠉⣿⣿⣿⡿⠟⣚⣡⣬⣭⣿⣾⣋⣀⠀⠀⡀⠀⢈⡥⠀⠀⠀⠀⠀⠀
⠀⠄⣸⣿⡗⠀⠀⠈⠻⣷⣄⡀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠃⠀⠀⢫⣀⠀⠸⢿⣿⣿⣿⣿⣯⡙⢏⠳⠉⢃⠀⠩⠈⠏⠛⠤⣀⡘⠑⣳⠟⠔⣻⣿⣿⣿⣿⣿⣿⣿⠷⠚⠉⣹⢶⣫⡄⠀⠀⠀⠀⠀⠀
⢐⣖⣿⣿⠁⠀⠀⠀⠐⠬⠿⣷⣄⠀⢼⣿⣶⣾⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⡴⢾⡿⣞⠷⣿⣿⣿⣿⣿⡿⡆⢱⠔⠂⠀⠀⠀⠀⠀⠀⠀⠁⠒⣅⠐⣫⣿⡿⣿⣿⣿⣿⠟⢑⡶⢛⣿⣽⣽⣵⠷⠒⠀⠀⠀⠀⠀
⣇⢻⣿⡇⠀⠀⠀⠀⠀⠀⠀⠈⠙⠿⣦⣙⢿⣿⡇⠀⠈⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣏⡿⠒⠉⠲⠌⢲⣉⣽⣷⣿⣷⡍⠛⠀⠀⠀⢀⣄⠀⠀⠐⠤⠀⠉⣌⣸⣽⠾⠛⣻⣿⣿⣿⣿⣿⣷⡾⠽⢉⢿⣠⠇⣀⣤⣤⣀⡀
⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠙⠿⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⢿⡂⠖⣿⣖⣒⣻⣿⣿⣯⣟⠿⠀⠀⠀⠠⢼⣷⢿⣶⡤⠄⠀⠁⡤⢘⣀⣠⣾⣿⣿⠿⠿⠿⠛⠋⣉⠠⠂⣡⠞⡡⠛⡛⢰⠿⣿⡝
⣿⣿⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣍⣚⠻⣿⣿⣿⣿⣿⡙⠆⠀⠀⠀⠀⠀⠉⠁⠀⠖⢀⠀⠀⡊⡡⣎⣨⣵⣾⣿⣿⣷⣶⣤⣤⠉⣉⣉⠁⠜⠀⠈⢀⣯⢭⣶⣾
⠙⠿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠤⢊⠭⠈⠙⣳⣶⣶⣌⠸⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢧⣧⣍⣱⠿⠾⣛⣛⣻⣭⣿⣿⣿⢊⣍⣲⣶⣀⡒⠋⠡⠉⠉⠄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⠀⠀⠀⢀⣤⣖⡁⠙⣻⣾⣿⣿⢿⣿⡯⠽⣧⠀⡀⠀⠀⠀⠀⠀⣀⡀⢢⣍⣜⣳⣶⣶⣾⡿⠟⠛⠋⠛⠃⠀⠈⠷⠿⢾⣯⣿⣷⣶⣶⣶⣶
⠀⠀⠀⠀⠘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣧⡠⣤⣀⣠⠖⠋⠀⣠⠔⠴⢛⣋⣡⣶⣿⣿⡿⣿⣛⣽⣺⣃⣦⣠⣤⣾⣿⡿⡧⢟⣠⣝⡻⣿⣿⣿⣿⣿⣷⣿⣤⠀⠀⠀⠀⠀⠀⠀⠉⠁⠉⠙⠻
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣿⣿⣿⣷⣄⠙⣷⠾⠗⣚⢀⠀⠜⠡⡿⠿⣋⣭⣴⢾⣿⣿⣿⣿⣿⣷⣿⣭⣦⣧⡷⣾⣿⡿⣿⣿⣶⣭⣻⣿⣿⣶⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣤⣴⣚⣿⠟⡿⣻⣦⣎⠽⠳⠶⠶⢤⣈⡋⠀⠀⣼⡿⠟⠋⠉⣀⠀⣿⡿⣿⣿⣿⣿⡟⣿⣿⣿⣿⣿⣿⣿⠠⣍⡛⠿⣧⣨⡿⢯⡉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣿⣿⣷⠀⢸⣿⣿⡇⢸⣿⣿⣿⣿⣿⡇⣿⣿⣷⠀⠀⠀⢸⣿⣿⡆⠀⢀⣾⣿⣿⣧⠀⠀⣿⣿⣿⣆⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⢸⣿⣿⡇⢸⣿⣿⡆⠀⣿⣿⣷⢠⣶⣿⣿⣿⣿⡆
⠀⠀⠀⣿⣿⣿⣤⣼⣿⣿⡇⢸⣿⣿⣧⣤⣤⡀⣿⣿⣿⠀⠀⠀⢸⣿⣿⡇⠀⣼⣿⣿⣿⣿⡆⠀⣿⣿⣿⣿⣾⣿⣿⡇⠀⠀⣿⣿⣿⠀⠀⣿⣿⣿⣤⣼⣿⣿⡇⢸⣿⣿⡇⠀⣿⣿⣿⢿⣿⣿⣤⣬⣙⠃
⠀⠀⠀⣿⣿⣿⠛⢻⣿⣿⡇⢸⣿⣿⡟⠛⠛⠁⣿⣿⣿⠀⠀⠀⢸⣿⣿⡇⢰⣿⣿⣯⣿⣿⣿⡄⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⣿⣿⣿⠀⠀⣿⣿⣿⠛⢻⣿⣿⡇⢸⣿⣿⡇⢀⣿⣿⡟⢈⡛⠿⢿⣿⣿⣷
⠀⠀⠀⣿⣿⣿⠀⢸⣿⣿⡇⢸⣿⣿⣷⣶⣶⡆⣿⣿⣿⣶⣶⣶⢸⣿⣿⣧⣿⣿⡟⠛⠛⣿⣿⣷⣿⣿⣿⠘⣿⣿⣿⡇⠀⠀⣿⣿⣿⠀⠀⣿⣿⣿⠀⢸⣿⣿⡇⠘⢿⣿⣷⣾⣿⡿⠃⢿⣿⣷⣶⣿⣿⠟
⠀⠀⠀⠉⠉⠁⠀⠈⠉⠉⠁⠈⠉⠉⠉⠉⠉⠁⠉⠉⠉⠉⠉⠉⠈⠉⠉⠈⠉⠉⠁⠀⠀⠈⠉⠉⠉⠉⠁⠀⠈⠉⠉⠁⠀⠀⠉⠉⠉⠀⠀⠉⠉⠁⠀⠈⠉⠉⠁⠀⠀⠈⠉⠉⠉⠀⠀⠀⠉⠉⠉⠉⠁

########################
#### MUST CONFIGURE ####
########################

# Where your media/data lives on the host.
DATA_ROOT="./runtime_data"

# Where service runtime config/databases live on the host.
# Delete this directory to reset app state without deleting media.
CONFIG_ROOT="./runtime"

# Private Internet Access credentials for the VPN-backed qBittorrent network binding.
PIA_LOCATION=ca_ontario
PIA_USER=
PIA_PASS=

# Credentials are applied to all services that use authentication, unless overridden below. 
ADMIN_USERNAME=admin
GLOBAL_PASSWORD=adminadmin

# Tailnet DNS suffix shown in the Tailscale admin console, for example tail1234.ts.net.
# HTTPS/TLS Certificates are automatically requested for this domain by TSDProxy.
# Services will be available through all Tailscale addresses, but only the ts.net url will have TLS certificates.
#    jellyfin/
#    jellyfin.<tailnet>.ts.net
#    100.x.y.z
TAILNET_DOMAIN=

########################
#### CAN CONFIGURE ####
########################

# Add optional services to COMPOSE_PROFILES separated by commas: 
# - qui is a custom qbittorrent interface;
# - Profilarr is only useful for private trackers;
# - Homepage is a customizable dashboard with quick links and weather.

COMPOSE_PROFILES=qui
TIMEZONE="America/New_York"

JELLYFIN_SERVER_NAME="Docker-Compose NAS"

PIA_LOCAL_NETWORK="192.168.0.0/16"
PIA_PORT_FORWARDING=1
DOWNLOAD_ROOT="${DATA_ROOT}/torrents"

TSDPROXY_DASHBOARD_PORT=8080
TSDPROXY_AUTHKEY_PATH=./secrets/tsdproxy_authkey
# Set true for test environments to expose tailnet HTTP and skip TLS certificate requests.
TSDPROXY_DISABLE_TLS=true
# Restart TSDProxy after a clock gap indicates that the host resumed from sleep.
TSDPROXY_WAKE_CHECK_INTERVAL=30
TSDPROXY_WAKE_THRESHOLD_SECONDS=120
TSDPROXY_WAKE_GRACE_SECONDS=15
# Ofelia starts Profilarr shortly before 3am, then stops it after the run window to conserve memory usage.
PROFILARR_START_SCHEDULE="0 58 2 * * *"
PROFILARR_RUN_WINDOW=30m

# Service-specific credentials to override global defaults.
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=
SONARR_USERNAME=
SONARR_PASSWORD=
RADARR_USERNAME=
RADARR_PASSWORD=
LIDARR_USERNAME=
LIDARR_PASSWORD=
PROWLARR_USERNAME=
PROWLARR_PASSWORD=
CALIBRE_USERNAME=
CALIBRE_PASSWORD=
JELLYFIN_ADMIN_USERNAME=
JELLYFIN_ADMIN_PASSWORD=
SEERR_JELLYFIN_ADMIN_USERNAME=
SEERR_JELLYFIN_ADMIN_PASSWORD=
SEERR_JELLYFIN_ADMIN_EMAIL=

HOMEPAGE_VAR_TITLE="Docker-Compose NAS"
HOMEPAGE_VAR_SEARCH_PROVIDER=google
HOMEPAGE_VAR_HEADER_STYLE=boxed
HOMEPAGE_VAR_WEATHER_CITY=
HOMEPAGE_VAR_WEATHER_LAT=
HOMEPAGE_VAR_WEATHER_LONG=
HOMEPAGE_VAR_WEATHER_UNIT=metric

SEERR_RADARR_PROFILE="HD-1080p"
SEERR_RADARR_MINIMUM_AVAILABILITY=released
SEERR_SONARR_PROFILE="HD-1080p"
SEERR_SONARR_LANGUAGE_PROFILE=
SEERR_SONARR_SEASON_FOLDERS=true
SEERR_SYNC_ENABLED=true
SEERR_AUTO_SEARCH=true
SEERR_JELLYFIN_EXTERNAL_URL=

########################################################################
##### INTERNAL / GENERATED - USERS SHOULD NOT NEED TO CHANGE THESE #####
########################################################################
COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:tandoor/docker-compose.yml:vaultwarden/docker-compose.yml:privoxy/docker-compose.yml
USER_ID=1000
GROUP_ID=1000
SETUP_WAIT_TIMEOUT=300
TSDPROXY_ACCESS_MODE=80/http
TSDPROXY_URL_SCHEME=http

QBITTORRENT_SAVE_PATH="/data/torrents"
QBITTORRENT_TEMP_PATH="/data/torrents/incomplete"
SONARR_ROOT_FOLDER="/data/media/tv"
RADARR_ROOT_FOLDER="/data/media/movies"
LIDARR_ROOT_FOLDER="/data/media/music"
SONARR_DOWNLOAD_PATH="/data/torrents/tv"
RADARR_DOWNLOAD_PATH="/data/torrents/movies"
LIDARR_DOWNLOAD_PATH="/data/torrents/music"
SONARR_QBIT_CATEGORY=tv-sonarr
RADARR_QBIT_CATEGORY=radarr
LIDARR_QBIT_CATEGORY=lidarr

SONARR_API_KEY=
RADARR_API_KEY=
LIDARR_API_KEY=
PROWLARR_API_KEY=
BAZARR_API_KEY=
JELLYFIN_API_KEY=
SEERR_API_KEY=
SABNZBD_API_KEY=
AUTOBRR_API_KEY=

QUI_REF=v1.19.0
SEERR_REF=v3.3.0
