*.env
/secrets/
.idea
docker-compose.override.yml
/runtime
/runtime_data
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/jellyfin.broken-*
/lidarr
/bazarr
/huntarr
/qbittorrent
/pia
!/pia-shared/
/pia-shared/*
!/pia-shared/portupdate-qbittorrent.sh
/seerr/*
!/seerr/Dockerfile
!/seerr/patch-search.mjs
/sabnzbd
/cleanuparr
/cross-seed
/autobrr
!/cleanuparr/blacklist.json
!/cleanuparr/logs/.gitkeep
*.DS_Store
*.pyc
